<a href="https://colab.research.google.com/github/gaya3-b/LEARN.PY/blob/main/TASK_20.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. In the data given below,
  - find the boolean mask where value is nan
  - remove the row with missing data.

In [2]:
import pandas as pd
import numpy as np
dates = pd.date_range('20210101',periods=6)
df = pd.DataFrame(np.random.randn(6,4), index=dates,columns=list('ABCD'))
s1 = pd.Series([1,2,3,4,5,6], index=pd.date_range('20130102', periods=6))
df["F"]=s1
df1=df.reindex(index=dates[0:4], columns=list(df.columns) + ['E'])
df1.loc[dates[0]:dates[1],'E'] = 1
df1
#please provide your answer below this line
print(df1)
print("\n Boolean mask where value is nan: \n",df1.isnull())
print("\n Removing the row with missing data: \n",df1.dropna())

                   A         B         C         D   F    E
2021-01-01  2.070944 -1.697907  0.504762 -0.822500 NaN  1.0
2021-01-02  0.196715  0.415348  0.112822 -1.708685 NaN  1.0
2021-01-03 -0.877881 -1.093220 -1.880768 -0.272665 NaN  NaN
2021-01-04  0.593022 -0.514006 -0.844884 -0.258387 NaN  NaN

 Boolean mask where value is nan:
                 A      B      C      D     F      E
2021-01-01  False  False  False  False  True  False
2021-01-02  False  False  False  False  True  False
2021-01-03  False  False  False  False  True   True
2021-01-04  False  False  False  False  True   True

 Removing the row with missing data:
 Empty DataFrame
Columns: [A, B, C, D, F, E]
Index: []

2. In the data given below,fill the missing data with 20.

In [3]:
import pandas as pd
import numpy as np
dates = pd.date_range('20210101',periods=6)
df = pd.DataFrame(np.random.randn(6,4), index=dates,columns=list('ABCD'))
s1 = pd.Series([1,2,3,4,5,6], index=pd.date_range('20130102', periods=6))
df["F"]=s1
df1=df.reindex(index=dates[0:4], columns=list(df.columns) + ['E'])
df1.loc[dates[0]:dates[1],'E'] = 1
df1
#please provide your answer below this line
print(df1)
print("\n Filling the row with missing data with 20: \n",df1.fillna(value=20))

                   A         B         C         D   F    E
2021-01-01  1.308132 -0.001144 -1.966724  1.244410 NaN  1.0
2021-01-02 -2.134823  1.041445  1.271828  0.344335 NaN  1.0
2021-01-03  1.023003 -1.168243 -1.586869  0.409884 NaN  NaN
2021-01-04  1.677573 -0.568373  0.556779 -0.529461 NaN  NaN

 Filling the row with missing data with 20:
                    A         B         C         D     F     E
2021-01-01  1.308132 -0.001144 -1.966724  1.244410  20.0   1.0
2021-01-02 -2.134823  1.041445  1.271828  0.344335  20.0   1.0
2021-01-03  1.023003 -1.168243 -1.586869  0.409884  20.0  20.0
2021-01-04  1.677573 -0.568373  0.556779 -0.529461  20.0  20.0

3. From the data given below,
  - break the data in to pieces from 0 t0 2 ,3 t0 7
  - concatenate the pieces.
  - concatenate the pieces along axis 1
  - label each as 'a' and 'b' respectively and perform concatenation.

In [4]:
import pandas as pd
import numpy as np
df = pd.DataFrame(np.random.randn(10, 4))
df
#please provide your answer below this line
print(df)
pieces=[df[:3],df[3:8]]
print("\n Pieces of data from 0 to 2,3 to 7: \n",pieces[0],"\n",pieces[1])
print("\n Concatenated pieces: \n",pd.concat(pieces))
print("\n Concatenate the pieces along axis 1:\n",pd.concat(pieces,axis=1))
a=pieces[0]
b=pieces[1]
print("\n Concatenation of a and b:\n",pd.concat([a,b]))

          0         1         2         3
0  0.151664 -0.547715 -0.006525  1.182329
1  1.420320 -0.267290 -0.432701  0.681372
2  0.355679 -0.401691  0.821841  0.311202
3  0.533629 -0.412143 -0.967530 -0.894243
4 -0.900554  0.581475  0.242746  0.697122
5  1.235567  0.196541 -1.842782  1.207412
6 -0.058827 -0.262458  1.190355 -0.272912
7  0.322700  0.330646  0.617062 -0.564418
8  0.477338  1.462833 -0.937464 -0.505906
9  1.058036  0.510988  0.059483 -2.538798

 Pieces of data from 0 to 2,3 to 7:
           0         1         2         3
0  0.151664 -0.547715 -0.006525  1.182329
1  1.420320 -0.267290 -0.432701  0.681372
2  0.355679 -0.401691  0.821841  0.311202
           0         1         2         3
3  0.533629 -0.412143 -0.967530 -0.894243
4 -0.900554  0.581475  0.242746  0.697122
5  1.235567  0.196541 -1.842782  1.207412
6 -0.058827 -0.262458  1.190355 -0.272912
7  0.322700  0.330646  0.617062 -0.564418

 Concatenated pieces:
           0         1         2         3
0  0.151664 -0.547715 -0.006525  1.182329
1  1.420320 -0.267290 -0.432701  0.681372
2  0.355679 -0.401691  0.821841  0.311202
3  0.533629 -0.412143 -0.967530 -0.894243
4 -0.900554  0.581475  0.242746  0.697122
5  1.235567  0.196541 -1.842782  1.207412
6 -0.058827 -0.262458  1.190355 -0.272912
7  0.322700  0.330646  0.617062 -0.564418

 Concatenate the pieces along axis 1:
           0         1         2  ...         1         2         3
0  0.151664 -0.547715 -0.006525  ...       NaN       NaN       NaN
1  1.420320 -0.267290 -0.432701  ...       NaN       NaN       NaN
2  0.355679 -0.401691  0.821841  ...       NaN       NaN       NaN
3       NaN       NaN       NaN  ... -0.412143 -0.967530 -0.894243
4       NaN       NaN       NaN  ...  0.581475  0.242746  0.697122
5       NaN       NaN       NaN  ...  0.196541 -1.842782  1.207412
6       NaN       NaN       NaN  ... -0.262458  1.190355 -0.272912
7       NaN       NaN       NaN  ...  0.330646  0.617062 -0.564418

[8 rows x 8 columns]

 Concatenation of a and b:
           0         1         2         3
0  0.151664 -0.547715 -0.006525  1.182329
1  1.420320 -0.267290 -0.432701  0.681372
2  0.355679 -0.401691  0.821841  0.311202
3  0.533629 -0.412143 -0.967530 -0.894243
4 -0.900554  0.581475  0.242746  0.697122
5  1.235567  0.196541 -1.842782  1.207412
6 -0.058827 -0.262458  1.190355 -0.272912
7  0.322700  0.330646  0.617062 -0.564418